* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #000000;
    color: #ffffff;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

nav > h2 {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}

nav > img {
  margin-right: 10px;
  width: 60px;
}

nav > h3 {
  color: #DEEBF8;
  font-weight: 600;
}

main {
  padding: 60px 30px;
}

main h1 {
  margin: 0;
}

main ul {
  margin-top: 40px;
}

main > ul > li {
  font-size: 16px;
  line-height: 20px;
  padding-block: 10px;
}

main > ul > li::marker {
  color: #61DAFB;
  font-size: 1.2rem;
}
